body{
    width: 100%;
    margin: 0;
    color:white;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
    font-weight: bolder;
}

.grid-container{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

header, main, footer, aside{
    padding: 20px;
}

main{
    grid-area: main;
    background-color: rgb(31, 31, 31);
    text-align: center;
    height: max-content;
    padding-top: 0;
    padding-bottom: 5%;
    overflow: auto;
}

h1{
    font-size: 250%
}

label{
    font-size: 25px;
}

textarea, input, .input-light, select, button, .button-light {
    padding: 15px;
    height:30%;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color:rgb(0, 0, 0);
    box-shadow: 3px 3px black;

    border-style: solid;
    border-radius: 50px;

    font-size:larger;
    font-weight:bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    transition: all 0.5s ease-in-out;    
}

input{
    width: 40%;
    margin: 0 30px;
}

.input-light, .button-light{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-color:rgb(255, 255, 255);
    box-shadow: 3px 3px rgb(255, 255, 255);
}

button{
    width: max-content;
    cursor: pointer;
    width: 50px;
}

input:hover, button:hover{
    background-color: #000000;
    color: white;
}

.input-light:hover, .button-light:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}